*{
    font-family:'Antic Didone', serif;
    
}
 
.jumbotron{
    margin: auto;
    color: rgb(1, 1, 31);
}




h1, h3, h4, h5{
    font-weight: bold;
    color: rgb(223, 6, 6);
}

h2{
    font-family: 'Antic Didone', serif;
    font-weight: bolder;
    color: rgb(9, 9, 185);
}

img{
    width:80%;
    margin: auto;
}

form input{
    margin: auto;
}