{% extends 'base.html'%}
<!DOCTYPE html>
<head>
    <title>Flask-news</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap" rel="stylesheet">

    {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/stylez.css')}}">
    {% endblock %}

</head>

{% block content %}

<body> 
    <div class="jumbotron" style="color: black;"> 
         <div class="container">
            <h2 style="text-align:center">THIS ARE THE TOP HEADLINES TODAY</h2> <hr>
            <form>
                <input type="text" name="news_query" placeholder="Search for news title e.g kenya" class="form-control">
                <input type="submit"  value="Submit" class="btn btn-default" style="margin: auto;">
            </form>
            <hr>
            <div class="card">
                <div class="card-body">
                    {%for items in headline %}<br>
                    <h3>{{items.title}}</h3> <br>
                    <img src='{{items.urlToImage}}' alt="Image"> <br>
                    <h4>{{items.description}}<br></h4>
                    <p>{{items.content}} <a href="{{items.url}}" target="_blank">Read More</a></p>
                    <p><em>Published by </em> <strong>{{items.source.name}}</strong> on {{items.publishedAt}} </p>
        
                    {%endfor%}

                </div>
            </div> 
           
            
        </div>
    </div>
    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>

{% endblock %}