<!DOCTYPE html>
<head>
    <title>Flask-news</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <div class="jumbotron"> 
        <h1>My News App</h1>
    </div>
    <div class="container">
        {%for items in headline %}:

        <h1>Description</h1>{{items.description}}

       

        {%endfor%}
    </div>
    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>